body {
	font-family: maharlika;
}

button:hover {
	color: #c8a263;
}

#selectorButtons {
	display: flex;
	width: 800px;
	margin: auto;
	justify-content: center;
	gap: 10px;
	color: white;
	font-size: 19px;
}

#currentInfo,
#newInfo {
	color: white;
	width: 800px;
	margin: auto;
	align-self: center;
}

#currentInfo h1,
#newInfo h1 {
	font-weight: bold;
	font-size: 30px;
}

#currentInfo p,
#newInfo label {
	color: #c8a263;
	font-size: 20px;
}

input {
	width: 100%;
	border: 2px solid #c8a263;
	border-radius: 4px;
	margin-bottom: 20px;
	color: black;
	padding: 5px;
}

input[type="submit"] {
	color: white;
	background-color: #c8a263;
}

input[type="submit"]:hover {
	color: white;
	background-color: grey;
}

@media (max-width: 600px) {
	#selectorButtons {
		flex-wrap: wrap;
		width: 90%;
		gap: 10px;
		font-size: 17px;
	}

	#currentInfo,
	#newInfo {
		color: white;
		width: 80%;
		margin: auto;
		align-self: center;
	}

	#currentInfo p,
	#newInfo label {
		color: #c8a263;
	}

	#currentInfo h1,
	#newInfo h1 {
		font-weight: bold;
	}

	input {
		width: 100%;
		border: 2px solid #c8a263;
		border-radius: 4px;
		margin-bottom: 20px;
		color: black;
		padding: 5px;
	}

	#form-group {
		color: black;
	}
}
