---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/dashboard.css";
---

<Layout title="Dashboard">
	<main>
		<Navbar />
		<Title title_name="Dashboard" />
		<div>
			<!-- Group 1 -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The Chariot</h2>
					<h2 id="The Chariot">Loading</h2>
				</div>
			</div>

			<!-- Group 2 -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The Devil</h2>
					<h2 id="The Devil">Loading</h2>
				</div>
			</div>

			<!-- Group 3 -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The Emperor</h2>
					<h2 id="The Emperor">Loading</h2>
				</div>
			</div>

			<!-- Group 4 -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The Fool</h2>
					<h2 id="The Fool">Loading</h2>
				</div>
			</div>

			<!-- Group 5 -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The Hermit</h2>
					<h2 id="The Hermit">Loading</h2>
				</div>
			</div>

			<!-- Group 6 -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The Justice</h2>
					<h2 id="The Justice">Loading</h2>
				</div>
			</div>

			<!-- Group 7 -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The Lovers</h2>
					<h2 id="The Lovers">Loading</h2>
				</div>
			</div>

			<!-- Group 8 -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The Magician</h2>
					<h2 id="The Magician">Loading</h2>
				</div>
			</div>

			<!-- Group 9 -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The Moon</h2>
					<h2 id="The Moon">Loading</h2>
				</div>
			</div>

			<!-- Group 10 -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The Star</h2>
					<h2 id="The Star">Loading</h2>
				</div>
			</div>

			<!-- Group 11 -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The Sun</h2>
					<h2 id="The Sun">Loading</h2>
				</div>
			</div>

			<!-- Group 12 -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The World</h2>
					<h2 id="The World">Loading</h2>
				</div>
			</div>
		</div>
	</main>

	<script src="../scripts/appendData.js"></script>
</Layout>
