---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import GroupInfo from "../components/Group_info.astro";
import Title from "../components/Title.astro";
---

<Layout title="Dashboard">
	<main>
		<Navbar />
		<Title title_name="Dashboard" />
		<div id="group display table">
			<!-- 1 -->
			<GroupInfo
				image="/images/group_images/Original_Hedgehog.png"
				groupName="The Fool"
				cardNumber="4 Cards"
			/>

			<!-- 2 -->
			<GroupInfo
				image="/images/group_images/Original_Hedgehog.png"
				groupName="The Magician"
				cardNumber="4 Cards"
			/>

			<!-- 3 -->
			<GroupInfo
				image="/images/group_images/Original_Hedgehog.png"
				groupName="The Emperor"
				cardNumber="4 Cards"
			/>

			<!-- 4 -->
			<GroupInfo
				image="/images/group_images/Original_Hedgehog.png"
				groupName="The Lovers"
				cardNumber="4 Cards"
			/>

			<!-- 5 -->
			<GroupInfo
				image="/images/group_images/Original_Hedgehog.png"
				groupName="The Chariot"
				cardNumber="4 Cards"
			/>

			<!-- 6 -->
			<GroupInfo
				image="/images/group_images/Original_Hedgehog.png"
				groupName="The Hermit"
				cardNumber="4 Cards"
			/>

			<!-- 7 -->
			<GroupInfo
				image="/images/group_images/Original_Hedgehog.png"
				groupName="The Justice"
				cardNumber="4 Cards"
			/>

			<!-- 8 -->
			<GroupInfo
				image="/images/group_images/Original_Hedgehog.png"
				groupName="The Devil"
				cardNumber="4 Cards"
			/>

			<!-- 9 -->
			<GroupInfo
				image="/images/group_images/Original_Hedgehog.png"
				groupName="The Star"
				cardNumber="4 Cards"
			/>

			<!-- 10 -->
			<GroupInfo
				image="/images/group_images/Original_Hedgehog.png"
				groupName="The Moon"
				cardNumber="4 Cards"
			/>

			<!-- 11 -->
			<GroupInfo
				image="/images/group_images/Original_Hedgehog.png"
				groupName="The Sun"
				cardNumber="4 Cards"
			/>

			<!-- 12 -->
			<GroupInfo
				image="/images/group_images/Original_Hedgehog.png"
				groupName="The World"
				cardNumber="4 Cards"
			/>
		</div>
	</main>
</Layout>
