---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/dashboard.css";
---

<Layout title="Dashboard">
	<main>
		<Navbar />
		<Title title_name="Dashboard" />
		<div>
			<!-- Group 1: The Chariot-->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The Chariot</h2>
					<h2 id="The Chariot">Loading</h2>
				</div>
			</div>

			<!-- Group 2: The Devil -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The Devil</h2>
					<h2 id="The Devil">Loading</h2>
				</div>
			</div>

			<!-- Group 3: The Emperor -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The Emperor</h2>
					<h2 id="The Emperor">Loading</h2>
				</div>
			</div>

			<!-- Group 4: The Fool -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The Fool</h2>
					<h2 id="The Fool">Loading</h2>
				</div>
			</div>

			<!-- Group 5: The Hermit -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The Hermit</h2>
					<h2 id="The Hermit">Loading</h2>
				</div>
			</div>

			<!-- Group 6: The Justice -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The Justice</h2>
					<h2 id="The Justice">Loading</h2>
				</div>
			</div>

			<!-- Group 7: The Lovers -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The Lovers</h2>
					<h2 id="The Lovers">Loading</h2>
				</div>
			</div>

			<!-- Group 8: The Magician -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The Magician</h2>
					<h2 id="The Magician">Loading</h2>
				</div>
			</div>

			<!-- Group 9: The Moon -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The Moon</h2>
					<h2 id="The Moon">Loading</h2>
				</div>
			</div>

			<!-- Group 10: The Star -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The Star</h2>
					<h2 id="The Star">Loading</h2>
				</div>
			</div>

			<!-- Group 11: The Sun -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The Sun</h2>
					<h2 id="The Sun">Loading</h2>
				</div>
			</div>

			<!-- Group 12: The World -->
			<div id="groupBar">
				<img
					id="image"
					src="/images/group_images/Original_Hedgehog.png"
					alt="Profile Picture"
				/>
				<div id="groupInfo">
					<h2>The World</h2>
					<h2 id="The World">Loading</h2>
				</div>
			</div>
		</div>
	</main>

	<script src="../scripts/appendData.js"></script>
</Layout>
