---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Title from '../components/Title.astro';
---

<Layout title="Handbook">
	<main>
		<Navbar/>
		<Title title_name = "Handbook"></Title>
		
	</main>
</Layout>