---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="ISE First Meet 2024 The Arcana">
	<main>
		<Navbar/>
        <div id="title">
            <h1>ISE First Meet 2024</h1>
            <h2>The Arcana</h2>
        </div>

        <div id="cards">
            <div id="row1">
                <Card
			imageFront ="/images/card_front.png"
			imageBack ="/images/card_back.png"
			title ='card'
			/>
                <Card
			imageFront ="/images/card_front.png"
			imageBack ="/images/card_back.png"
			title ='card'
			/>
                <Card
			imageFront ="/images/card_front.png"
			imageBack ="/images/card_back.png"
			title ='card'
			/>
            </div>
            <div id="row2">
                <Card
			imageFront ="/images/card_front.png"
			imageBack ="/images/card_back.png"
			title ='card'
			/>
                <Card
			imageFront ="/images/card_front.png"
			imageBack ="/images/card_back.png"
			title ='card'
			/>
            </div>
        </div>

        <div id="countdown">
            <h1>Time Until Next Card is Revealed</h1>
            <h2>00:00:00</h2>
        </div>
    </main>
</Layout>

<style>
/* Large Screen */
    #cards {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 35px;
        margin-bottom: 160px;
    }

    #row1, #row2 {
        display: flex;
        gap: 35px;
    }

    #title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 70px;
        margin-top: 75px;
    }

    #title h1 {
        color: white;
        font-family: Maharlika;
    }

    #title h2 {
        color: #C8A263;
        font-family: Bruney;
    }

    #countdown {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Maharlika;
        margin-top: 100px;
    }

    #countdown h1 {
        color: white;
        font-size: 40px;
    }

    #countdown h2 {
        color: #C8A263;
        font-size: 60px;
    }

/* Medium Screen */
    @media (max-width: 1000px) {
    #cards {
        display: flex;
        flex-wrap: wrap;
        row-gap: 120px;
        margin: 25px;
    }

    #row1, #row2 {
        display: flex;
        justify-content: center;
        gap: 25px;
        width: 100%;
    }

    #title {
        font-size: 52px;
    }

    #countdown h1 {
        font-size: 30px;
    }

    #countdown h2 {
        font-size: 45px;
    }
    }

/* Small Screen */
    @media (max-width: 600px) {
    #cards {
        display: flex;
        flex-wrap: wrap;
        row-gap: 90px;
        margin: 25px;
    }

    #row1, #row2 {
        display: flex;
        justify-content: center;
        gap: 25px;
        width: 100%;
    }

    #title {
        font-size: 35px;
    }

    #countdown h1 {
        font-size: 20px;
    }

    #countdown h2 {
        font-size: 30px;
    }
    }
</style>