---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import GroupInfo from '../components/Group_info.astro';
---

<Layout title="Leaderboard">
	<main>
		<div id="header">
			<Navbar/>
			<h1>Leaderboard</h1>
		</div>
		<div id="group display table">
			<!-- 1 -->
			<GroupInfo
				image = "/images/group_images/Original_Hedgehog.png"
				groupName = "The Fool"
				cardNunber = "12 Cards"
			/>

			<!-- 2 -->
			<GroupInfo
				image = "/images/group_images/Original_Hedgehog.png"
				groupName = "The Magician"
				cardNunber = "12 Cards"
			/>

			<!-- 3 -->
			<GroupInfo
				image = "/images/group_images/Original_Hedgehog.png"
				groupName = "The Emperor"
				cardNunber = "12 Cards"
			/>

			<!-- 4 -->
			<GroupInfo
				image = "/images/group_images/Original_Hedgehog.png"
				groupName = "The Lovers"
				cardNunber = "12 Cards"
			/>

			<!-- 5 -->
			<GroupInfo
				image = "/images/group_images/Original_Hedgehog.png"
				groupName = "The Chariot"
				cardNunber = "12 Cards"
			/>

			<!-- 6 -->
			<GroupInfo
				image = "/images/group_images/Original_Hedgehog.png"
				groupName = "The Hermit"
				cardNunber = "12 Cards"
			/>

			<!-- 7 -->
			<GroupInfo
				image = "/images/group_images/Original_Hedgehog.png"
				groupName = "The Justice"
				cardNunber = "12 Cards"
			/>

			<!-- 8 -->
			<GroupInfo
				image = "/images/group_images/Original_Hedgehog.png"
				groupName = "The Devil"
				cardNunber = "12 Cards"
			/>

			<!-- 9 -->
			<GroupInfo
				image = "/images/group_images/Original_Hedgehog.png"
				groupName = "The Star"
				cardNunber = "12 Cards"
			/>

			<!-- 10 -->
			<GroupInfo
				image = "/images/group_images/Original_Hedgehog.png"
				groupName = "The Moon"
				cardNunber = "12 Cards"
			/>

			<!-- 11 -->
			<GroupInfo
				image = "/images/group_images/Original_Hedgehog.png"
				groupName = "The Sun"
				cardNunber = "12 Cards"
			/>

			<!-- 12 -->
			<GroupInfo
				image = "/images/group_images/Original_Hedgehog.png"
				groupName = "The World"
				cardNunber = "12 Cards"
			/>
		</div>

	</main>
</Layout>

<style>
	#header h1{
		font-family: "Maharlika";
		color: #C8A263;
		font-size: 35px;
		text-align: center;
		padding: 20px;
	}
</style>


